:root {
    --basic-black: #000000;
    --basic-dark-brown: #503E33;
    --basic-medium-brown: #604E43;
    --basic-brown: #766357;
    --basic-dark-grey: #888888;
    --basic-medium-grey: #EBEBEB;
    --basic-grey: #333333;
    --basic-light-grey: #EEEEEE;
    --basic-plusminus-grey: #A9A9A9;
    --basic-extra-grey: #F2F2F2;
    --basic-border-grey: #E5E5E5;
    --basic-dark-cyan: #5496BD;
    --basic-medium-cyan: #669EC0;
    --basic-cyan: #81B3D2;
    --basic-white: #FFFFFF;
}
body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: PT Sans;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

/* main navigation */
/*
.wrapper {

}*/
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
}
/*.navigation-logo {
    
}*/
.site-navigation {
    list-style: none;
}
.switch-left {
    text-align: left;
}
.switch-right {
    text-align: right;
}
.site-navigation a {
    color: var(--basic-black);
}
.site-navigation a:focus,
.site-navigation a:hover {
    color: var(--basic-cyan);
}
.site-navigation a:active {
    color: var(--basic-grey);
}
.visually-hidden {
    display: none;
}
.container {
    background-image: url("../img/background.jpg");
    background-position: 40px 55px;
    background-repeat: no-repeat;
    min-width: 1220px;
    background-color: var(--basic-white);
}
.advantages h3 {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
    padding: 40px;
}
.advantages p {
    text-align: center;
    line-height: 26px;
    color: var(--basic-grey);
}
.proposition h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 24px;
}
.proposition p {
    text-align: center;
    line-height: 24px;
    color: var(--basic-grey);
    padding: 30px;
}
.search {
    background-color: var(--basic-white);
}
.search-button {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    color: var(--basic-white);
    background-color: var(--basic-brown);
    background-position: center;
    text-transform: uppercase;
    border: none;
}
.search-button:focus,
.search-button:hover {
    background-color: var(--basic-dark-grey);
}
.search-button:active {
    background-color: var(--basic-dark-brown);  /*текст сделать прозрачным*/
}
.search-date, .search-family {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    border: none;
}
.search-date input {
    background-color: var(--basic-extra-grey);
    border: none;
}
.search-date input:hover {
    background-color: var(--basic-medium-grey);
    border: none;
}
.search-date input:focus {
    background-color: var(--basic-white);
    border: 2px solid var(--basic-border-grey);
}
.search-family input {
    background-color: var(--basic-extra-grey);
    border: none;
}
.adult, .children {
    background-color: var(--basic-extra-grey);
    border: none;
}
.plus-minus {
    color: var(--basic-plusminus-grey);
    background-color: transparent;
    border: none;
}
.plus-minus:focus,
.plus-minus:hover {
    color: var(--basic-black);
    border: none;
}
.plus-minus:active {
    color: var(--basic-cyan);
    border: none;
}
.search-result {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: var(--basic-white);
    background-color: var(--basic-cyan);
    background-position: center;
    text-transform: uppercase;
    border: none;
}
.search-result:focus,
.search-result:hover {
    background-color: var(--basic-medium-cyan);
}
.search-result:active {
    background-color: var(--basic-dark-cyan);  /*текст сделать прозрачным*/
}

/* footer navigation */

.main-footer {
    background-color: var(--basic-white);
    text-decoration: none;
}
.left-footer {
    color: var(--basic-black);
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}
.site-social {
    list-style: none;
    background-color: var(--basic-cyan);
}
.site-social:focus,
.site-social:hover {
    background-color: var(--basic-medium-cyan);
}
.site-social:active {
    background-color: var(--basic-dark-cyan);  /* прозрачность svg?*/
}
.site-contact {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}                                   /* как красить svg при изменении состояний?*/
